<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Student
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateBookingForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mobile</ion-label>
        <ion-input formControlName="mobile" type="text" required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update Students</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLinkActive="tab-selected" routerLink="/homes" class="ios" tab="homes">
    <ion-icon name="list-box"></ion-icon>
    <ion-label>Students</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLinkActive="tab-selected" routerLink="/student-form" class="ios" tab="student-form">
    <ion-icon name="add-circle"></ion-icon>
    <ion-label>student</ion-label>
  </ion-tab-button>
</ion-tab-bar>